<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /test/skfab/

  # Redirect any non-existing directories or files to index.php
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>